@charset "UTF-8";

html{
    font-family: sans-serif;
}

h1, h2, h3, h4, h5 ,h6{
    font-family: "Oxygen";

}

.top-header{
    text-align: center;
}

.top-header-logo{
    margin: 0.5em;
}

.top-nav{
    background: #612674;
    text-align: center;
    
}

.top-nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-nav a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 1em;
}

.top-nav a:hover{
    background: #7c3792;
}

.top-content{
    padding: 1em;
    text-align: center;
    background: #f6f6f6;
}

.top-content-title{
    color: #612674;
    font-size: 1.375em;
    /* (22/16=1.375) */
    margin: 1.375;

}

.top-content-subtitle{
    color: #a87bb7;
    font-size: 1em;
    line-height: 1.5em;
}

.middle-content{
    text-align: center;
    margin: 2em;
}

.middle-content p{
    line-height: 1.5em;
    color: #222;
}

.middle-content span[class^=icon]{
    font-size: 3.5em;
    color: #652678;
}

.middle-content-title{
    text-align: center;
    color: #652678;
    text-transform: uppercase;
}

.main-content{
    padding: 2em;
}

.main-content p{
    line-height: 1.2em;
}

.main-content-arcticle{
    margin-bottom: 3.5em;
}

.main-content-title{
    letter-spacing: 0.2em;
    text-align: center;
    color: #652678;
    text-transform: uppercase;
    font-weight: normal;
}

.footer{
    background: #25303e;
    color: #83969f;
    text-align: center;
    padding-bottom: 2em;
}

.footer-menushare{
    background: #303d4c;
    padding: 0.5em;
}

.footer-menushare li{
    display: inline-block;
    margin: 0em 1em;
}

.footer-menushare a{
    font-size: 1.1em;
    text-decoration: none;
    color: white;
}

.btn{
    display: inline-block;
    padding: 0.9em 2.5em;
    background: #58c4c4;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.btn:hover{
    background: #37a0a0;
}

.hidden{
    width: 0;
    height: 0;
    overflow: hidden;
    display: block;
    opacity: 0;
}




